.jdw-article {
  width: 100%;
  display: flex;
  justify-content: center;
}
.jdw-button-container {
  display: flex;
  justify-content: center;
}
.jdw-post {
  margin-bottom: 25px;
}
.jdw-section {
  text-align: justify;
  padding: 25px;
  width: 50%;
}
.jdw-section span {
  display: none;
}
